<h1>
  Welcome,
  <%= case Current.user.clearance_level
        when 1 then "Cadet"
        when 2 then "Lieutenant"
        when 3 then "Colonel"
        when 4 then "Manager"
        when 5 then "Overseer"
      end %>
</h1>